<template>
    <button class="p-2 px-3 rounded mx-2"> <slot> </slot> </button>
</template>

<script>
export default {
    name:"k-button",
}
</script>

<style  >
    .bg-blue{
        color: white; 
    }
</style>