<template>
  <div class="hello p-5 min-h-screen absolute border bg-white" :class="`position-${index} position-${index}-${total}` ">
      <div class="flex"> 
        <div class=""> Jone Doe </div>
        <div class="m-auto"> 
            <k-button> </k-button>
            <k-button class="bg-blue-500 border-radius-3 text-white"> Share </k-button>
            <k-button> Done </k-button>
            <button class=""> ... </button>
        </div>
      </div>
      
      <div class="text-left py-4 ">  
          <div> 
                <div contenteditable="true" class="dic-title py-2 " @blur="updateTitle" > {{dictionary.title?dictionary.title:"Untitlted"}} </div> 
          </div>
          <div> 
                <div contenteditable="true" class="dic-content" @blur="updateContent" v-html="dictionary.content ? dictionary.content: 'Start Writing, drag files, or choose a <a>template</a> '" > </div> 
          </div>
      </div>

  </div>
</template>

<script>
import KButton from './k/K-Button.vue'
export default {
  components: { KButton },
  name: 'HelloWorld',
  props: {
    msg: String,
    dictionary:{

    },
    index: {

    },
    total:{

    }
  },
  data(){
  },
  methods:{
    updateTitle(event){
      this.dictionary.title =  event.target.innerText ;
    },
    updateContent(event){
      this.dictionary.content = event.target.innerText;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}


.dic-content{

}

.dic-title{
  color: #666880;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
}

.position-0-4{
 left:0%;
 width: 10%;
 z-index: 993;
}


.position-1-4{
  width: 90%;
  left: 10%;
  z-index: 999;
  background: white;
  z-index: 9994;
}

.position-2-4{
  left: 30%;
  width: 70% ;
  z-index: 9998;
}

.position-3-4{
  left: 50%;
  width: 50% ;
  z-index: 9999;
}



.position-1-4{
   z-index: 991;
}

</style>
